.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

input {
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px;
  margin: 10px 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}
